<a href="https://colab.research.google.com/github/AbbasAli01/AbbasAli/blob/main/Python_For_Absolute_Newbies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello World!

In [ ]:
print("Hello World!")

Hello World!

# Variables

In [ ]:
a = "Hello World!"
print(a)

Hello World!

In [ ]:
first name = "Abbas"

SyntaxError: invalid syntax (<ipython-input-2-7da6310aa590>, line 1)

In [ ]:
first_name = "Abbas"
print(first_name)

Abbas

In [ ]:
7 = "seven"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-5-fe11597a8051>, line 1)

# Datatypes

In [ ]:
age = 23 # int
first_name = "Abbas" # str
last_name = "Ali" # str
country = 'India' # str
phone_number = 7200000000 # int
weight = 50.34 # float
married = False # bool

In [ ]:
text = "Hey, how are you?"
type(text)

str

In [ ]:
print(type(text))

<class 'str'>

In [ ]:
number = 123
type(number)

int

In [ ]:
decimal_number = 0.3333
type(decimal_number)

float

In [ ]:
boolean = True
type(boolean)

bool

# Operators

## Arithmetic Operators

In [ ]:
4 + 8

12

In [ ]:
num1 = 34
num2 = 66
print(num1 + num2)

100

In [ ]:
56 - 34

22

In [ ]:
56 + 34 - 29

61

In [ ]:
num1 = 45
num2 = 25
print(num1 - num2)

20

In [ ]:
262 * 3

786

In [ ]:
45 * 3 + 35 - 23

147

In [ ]:
num1 = 467
num2 = 345
print(num1 * num2)

161115

In [ ]:
100 / 4

25.0

In [ ]:
100 // 4

25

In [ ]:
num1 = 78
num2 = 8
print(num1 / num2)

9.75

In [ ]:
9 % 3

0

In [ ]:
45 % 20

5

In [ ]:
3**2

9

In [ ]:
65**12

5688009063105712890625

In [ ]:
num = 89
power = 6
print(num**power)

496981290961

## Comparison Operators

In [ ]:
45 == 45

True

In [ ]:
56 == 90

False

In [ ]:
"abbas" == "abbas"

True

In [ ]:
"ali" == 'ALI'

False

In [ ]:
34 != 35

True

In [ ]:
765 != 765

False

In [ ]:
'PYTHON' != 'python'

True

In [ ]:
21 < 56

True

In [ ]:
num1 = 66
num2 = 99
print(num1 < num2)

True

In [ ]:
97 > 89

True

In [ ]:
67 <= 85

True

In [ ]:
100 >= 99

True

## Assignment Operators

In [ ]:
x = 7
print(x)

x += 3

print(x)

7
10

In [ ]:
x = 45
print(x)

x -= 35
print(x)

45
10

In [ ]:
x = 4
print(x)

x *= 20
print(x)

4
80

In [ ]:
x = 50
print(x)

x /= 20
print(x)

50
2.5

In [ ]:
x = 50
print(x)

x //= 20
print(x)

50
2

In [ ]:
x = 50
print(x)

x %= 20
print(x)

50
10

In [ ]:
x = 20
print(x)

x **= 2
print(x)

20
400

## Logical Operators

In [ ]:
x = 92

x < 100 and x > 90

True

In [ ]:
x = 89

x < 100 and x > 90

False

In [ ]:
x = 89

x < 100 or x > 90

True

In [ ]:
x = 89

not x < 100 or x > 90

False

In [ ]:
x = 89

not x < 100 and x > 90

False

In [ ]:
x = 89

not (x < 100 and x > 90)

True

## Identity Operators

In [ ]:
a = 90
b = 90
c = a

print(id(a))
print(id(b))
print(id(c))

134294240873488
134294240873456
134294240873488

In [ ]:
a is b

False

In [ ]:
a is c

True

In [ ]:
a is not b

True

In [ ]:
a is not c

False

## Membership Operators

In [ ]:
'a' in 'abbas'

True

In [ ]:
"z" in "abbas"

False

In [ ]:
"z" not in "abbas"

True

# Built-in Data Structure

## List and its Methods

In [ ]:
l1 = [1,2,3,4,5]
l2 = ['a', 'b', 'c', 'd', 'e']
l3 = [1, 'b', 'apple', 4.5, True, 99]

In [ ]:
l4 = [1, 2, 4, 4, 5, 6, 'a', 5.6]

In [ ]:
l4[0]

1

In [ ]:
l4[6]

'a'

In [ ]:
lst1 = ['aeroplane', 'boat', 'car', 'bike']
print(lst1)

lst1.append('helicopter')
print(lst1)

['aeroplane', 'boat', 'car', 'bike']
['aeroplane', 'boat', 'car', 'bike', 'helicopter']

In [ ]:
lst2 = ['a', 'b', 'c', 'd', 'e']
print(lst2)

lst2.pop()
print(lst2)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']

In [ ]:
lst2.pop(1)
print(lst2)

['a', 'c', 'd']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'benz']
print(cars)

cars.remove('toyota')
print(cars)

['bmw', 'audi', 'toyota', 'benz']
['bmw', 'audi', 'benz']

In [ ]:
cars = ['bmw', 'audi', 'mclaren', 'benz', 'royce']
print(cars)

cars.insert(2, 'tesla')
print(cars)

['bmw', 'audi', 'mclaren', 'benz', 'royce']
['bmw', 'audi', 'tesla', 'mclaren', 'benz', 'royce']

In [ ]:
cars[3] = 'lambo'
print(cars)

['bmw', 'audi', 'tesla', 'lambo', 'benz', 'royce']

In [ ]:
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'lambo', 'royce', 'tesla']

In [ ]:
numbers = [56, 34, 87, 12, 43, 23, 35, 90]
numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[12, 23, 34, 35, 43, 56, 87, 90]
[90, 87, 56, 43, 35, 34, 23, 12]

In [ ]:
avengers = ['iron-man', 'captain-america', 'hulk', 'thor', 'doctor-strange', 'iron-man', 'iron-man', 'thor']
avengers.count('iron-man')

3

In [ ]:
avengers.count('thor')

2

In [ ]:
avengers.index('hulk')

2

In [ ]:
avengers.index('doctor-strange')

4

In [ ]:
abcd = ['a', 'b', 'c', 'd', 'e', 'f']
abcd_copy = abcd.copy()

In [ ]:
print(abcd_copy)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
print(abcd.reverse())

None

In [ ]:
abcd.clear()
print(abcd)

[]

## Tuple and its Methods

In [ ]:
tup1 = ('onion', 'tomato', 'carrot', 'beetroot')

In [ ]:
tup1[2]

'carrot'

In [ ]:
print(tup1)
lst1 = list(tup1)
lst1.append('potato')
tup1 = tuple(lst1)
print(tup1)

('onion', 'tomato', 'carrot', 'beetroot')
('onion', 'tomato', 'carrot', 'beetroot', 'potato')

In [ ]:
tup2 = ('a', 'a', 'b', 'd', 'c', 'd', 'd', 'd', 'b')
tup2.count('d')

4

In [ ]:
tup2.index('c')

4

In [ ]:
tup3 = ('apple', 'banana', 'cherry')

a, b, c = (tup3)

print(a)
print(b)
print(c)

apple
banana
cherry

## Set and its Methods

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {'b', 'c', 'd', 'e'}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{'c', 'e', 'd', 'b'}

In [ ]:
set2.add('f')
print(set2)

{'e', 'c', 'd', 'f', 'b'}

In [ ]:
set2.remove('b')
print(set2)

{'e', 'c', 'd', 'f'}

In [ ]:
set3 = {'pen', 'pencil', 'eraser'}
set4 = {'ruler', 'marker', 'notebook'}

set3.update(set4)
print(set3)

{'ruler', 'eraser', 'pen', 'marker', 'pencil', 'notebook'}

## Dictionary and its Methods

In [ ]:
d1 = {'name': 'ali', 'age': 23, 'country': 'India'}
print(d1)

{'name': 'ali', 'age': 23, 'country': 'India'}

In [ ]:
print(d1['name'])
print(d1['age'])
print(d1['country'])

ali
23
India

In [ ]:
print(d1.get('name'))
print(d1.get('age'))
print(d1.get('country'))

ali
23
India

In [ ]:
print(d1.keys())

dict_keys(['name', 'age', 'country'])

In [ ]:
print(d1.values())

dict_values(['ali', 23, 'India'])

In [ ]:
print(d1.items())

dict_items([('name', 'ali'), ('age', 23), ('country', 'India')])

In [ ]:
print(d1)
d1['name'] = 'abbas'
print(d1)

{'name': 'ali', 'age': 23, 'country': 'India'}
{'name': 'abbas', 'age': 23, 'country': 'India'}

In [ ]:
print(d1)
d1.pop('age')
print(d1)

{'name': 'abbas', 'age': 23, 'country': 'India'}
{'name': 'abbas', 'country': 'India'}

In [ ]:
print(d1)

d1.clear()

print(d1)

{'name': 'abbas', 'country': 'India'}
{}

# String Manipulation

In [ ]:
s1 = 'I am Learning Python'

print(s1[0])
print(s1[1])
print(s1[2])

I

a

In [ ]:
print(s1.upper())

I AM LEARNING PYTHON

In [ ]:
print(s1.lower())

i am learning python

In [ ]:
print(s1.replace('Python', 'To Code'))

I am Learning To Code

In [ ]:
s2 = 'I am learning python programming'
s3 = 'I,am,learning,python,programming'
s4 = 'I;am;learning;python;programming'

print(s2.split(" "))
print(s3.split(","))
print(s4.split(";"))

['I', 'am', 'learning', 'python', 'programming']
['I', 'am', 'learning', 'python', 'programming']
['I', 'am', 'learning', 'python', 'programming']

In [ ]:
age = 23
s1 = f"My age is {age}"
print(s1)

My age is 23

In [ ]:
name = 'Ali'
age = 23
s2 = f"My name is {name} and my age is {age}"
print(s2)

My name is Ali and my age is 23

# Control Flow

## if, if-else, if-elif-else

In [ ]:
if (5 > 3):
  print("Yes")

Yes

In [ ]:
if (67 > 97):
  print("Yes")
else:
  print('No')

No

In [ ]:
if 'o' in 'Python':
  print("Yes, there is 'o' in Python")
else:
  print("Nope")

Yes, there is 'o' in Python

In [ ]:
if 4 in [1, 2, 3, 4, 5]:
  print("Yes, 4 is there in the list")
else:
  print("Nope")

Yes, 4 is there in the list

In [ ]:
if ('z' in 'abbas'):
  print("Yes, 'z' is there in 'abbas'")
elif ('s' in 'abbas'):
  print("Yes, 's' is there in 'abbas'")
else:
  print("Both if and elif conditions are False")

Yes, 's' is there in 'abbas'

In [ ]:
score = 85

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print(f"For a score of {score}, the grade is {grade}")

For a score of 85, the grade is B

## while loop

In [ ]:
a = 0

while a < 5:
  print(a)
  a += 1

0
1
2
3
4

In [ ]:
a = ['a', 'a', 'a', 'a', 'a']

while 'a' in a:
  print(a)
  a.pop()

['a', 'a', 'a', 'a', 'a']
['a', 'a', 'a', 'a']
['a', 'a', 'a']
['a', 'a']
['a']

## for loop

In [ ]:
for i in "python":
  print(i)

p
y
t
h
o
n

In [ ]:
for i in ['a', 'b', 'c', 'd', 'e']:
  print(i)

a
b
c
d
e

In [ ]:
for i in (1, 2, 3, 4, 5):
  print(i)

1
2
3
4
5

In [ ]:
for i in {1, 2, 3, 4, 5}:
  print(i)

1
2
3
4
5

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2, 20):
  print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
number = 87
for i in range(1, 11):
  print(f"{number} x {i} = {number * i}")

87 x 1 = 87
87 x 2 = 174
87 x 3 = 261
87 x 4 = 348
87 x 5 = 435
87 x 6 = 522
87 x 7 = 609
87 x 8 = 696
87 x 9 = 783
87 x 10 = 870

## break and continue

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "orange"]

for fruit in fruits:
    if fruit == "date":
        break
    print(fruit)

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "orange"]

for fruit in fruits:
    if fruit == "date":
        continue
    print(fruit)

apple
banana
cherry
orange

# Functions

In [1]:
def greeting():
  print("Hey, How are you?")

greeting()

Hey, How are you?

In [2]:
def myname(name):
  print(f"My name is {name}")

myname("Ali")

My name is Ali

In [4]:
def add(num1, num2):
  print(num1 + num2)

add(2, 3)
add(4, 5)
add(45, 24)

5
9
69

In [5]:
def areaofcircle(radius):
  area = 3.14 * radius * radius
  return area

print(areaofcircle(10))

314.0

# User-Input

In [8]:
name = input("Enter your name: ")
print(name)

Enter your name: abbas
abbas

In [10]:
print("Adding two numbers:")
num1 = input('Enter num1: ')
num2 = input('Enter num2: ' )
print(num1 + num2)

Adding two numbers:
Enter num1: 44
Enter num2: 56
4456

In [11]:
print("Adding two numbers:")
num1 = int(input('Enter num1: '))
num2 = int(input('Enter num2: ' ))
print(num1 + num2)

Adding two numbers:
Enter num1: 44
Enter num2: 56
100

# Projects

In [ ]:
# Currency Convertor

print("---------Currency Convertor---------")
print("1. INR to USD")
print("2. USD to INR")

user_choice = int(input("Enter Your Choice(1 or 2): "))

if user_choice == 1:
  amount = float(input("Enter Your INR Amount: "))
  amount_in_usd = amount * 0.012033904
  print(f"INR {amount} is USD {amount_in_usd}")

elif user_choice == 2:
  amount = float(input("Enter Your USD Amount: "))
  amount_in_inr = amount * 83.102881
  print(f'USD {amount} is INR {amount_in_inr}')

else:
  print("Invalid Choice!")

In [ ]:
# Rock Paper Scissor

import random

choices = ['Rock', 'Paper', 'Scissors']

computer_choice = random.choice(choices)

user_choice = input("Enter Your Choice (Rock or Paper or Scissors): ")

if computer_choice == user_choice.capitalize():
  print("Draw")

elif computer_choice == 'Rock' and user_choice.capitalize() == "Paper":
  print("You Win!")

elif computer_choice == "Paper" and user_choice.capitalize() == "Scissors":
  print("You Win!")

else:
  print("Computer Wins!")

In [ ]:
# Simple Calculator

print("----------Simple Calculator----------")
print("1. +")
print("2. -")
print("3. *")
print("4. /")

user_choice = int(input("Chose Your Operator(1, 2, 3, or 4): "))

num1 = float(input("Enter Firt Number: "))
num2 = float(input("Enter Second Number:"))

if user_choice == 1:
  add = num1 + num2
  print(f"{num1} + {num2} = {sum}")

elif user_choice == 2:
  sub = num1 - num2
  print(f"{num1} - {num2} = {sub}")


elif user_choice == 3:
  mul = num1 * num2
  print(f"{num1} * {num2} = {mul}")

elif user_choice == 4:
  div = num1/num2
  print(f"{num1} / {num2} = {div}")

else:
  print("Invalid Entry! Try Entering 1, 2, 3, or 4!")

In [ ]:
# Number Guessing Game

import random

print("Computer: I am thinking of a number between 1 to 10, can you guess? I will give you 3 chances.")

secret_number = random.randint(1, 10)

chances = 1
while chances < 4:
  user_guess = int(input("Enter your Guess: "))
  if secret_number == user_guess:
    print(f"Computer: Awesome!, You got the number in just {chances} guess!")
    break
  else:
    if chances < 3:
      print("Computer: No, you are wrong, try again!")
      chances += 1
    else:
      print(f"Computer: All 3 chances are over. The number that I was think was {secret_number}")
      break

In [ ]:
# Quiz Game

print("----------General Knowlege Quiz----------")

score = 0

print("What is India's National Animal?")
print("Choose the correct option:")
print("1. Lion")
print("2. Tiger")
print("3. Chetha")
print("4. Panter")

answer1 = int(input("Enter your option: "))
if answer1 == 2:
  print("")
  score += 1
else:
  print("")

print("What is India's National Flower?")
print("Choose the correct option:")
print("1. Lotus")
print("2. Lily")
print("3. Rose")
print("4. Sunflower")

answer2 = int(input("Enter your option: "))
if answer2 == 1:
  print("")
  score += 1
else:
  print("")

print("What is India's National Song?")
print("Choose the correct option:")
print("1. Jai Ho")
print("2. Jana Gana Mana")
print("3. Vande Mataram")
print("4. Despacito")

answer3 = int(input("Enter your option: "))
if answer3 == 3:
  print("")
  score += 1
else:
  print("")

print(f"Your total Score: {score} out of 3")